* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  background: linear-gradient(#7521ff, #fff);
}

.navbar {
  display: flex;
  justify-content: space-between;
}
div.search {
  border-radius: 10px;
  padding: 5px;
}

a.navbar-brand {
  color: black;
}

button.btn-s {
  background: hsl(263, 100%, 13%);
  padding-left: 10px;
  border-radius: 10px;
}

.navbar-nav {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.flexbox {
  display: flex;
  box-sizing: border-box;
}

.item {
  display: block;
  box-sizing: border-box;
  width: 33.33%;
}

.content {
  background-color: #fff;
  border: 1px solid black;
  margin: 50px;
  padding: 20px;
  border-radius: 10px;
}

.heart-text {
  display: flex;
  flex-direction: column;
}

.heart-img {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin-right: 10px;
  margin-left: -2;
}
.heart-img img {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.o2-text {
  display: flex;
  flex-direction: column;
}

.o2-img {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin-right: 10px;
  margin-left: -2;
}
.o2-img img {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.move-text {
  display: flex;
  flex-direction: column;
}

.move-img {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin-right: 10px;
  margin-left: -2;
}
.move-img img {
  max-width: 100%;
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

/* activity */
.ss-h2 {
  margin-left: 30px;
}
