@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

* {
  font-family: "Architects Daughter", cursive;
}

/* navbar */
.container-nav {
  background-color: bisque;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  margin: 0 5px;
}

.container-home {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}
