* {
  background-color: pink;
  box-sizing: border-box;
}

button {
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  margin: 10px;
}
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2 {
  background-color: blueviolet;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}
